.wrapContent {
  .content_title {
    margin: 30px 0 15px 0;

    :global {
      .ant-checkbox-wrapper {
        margin-right: 10px;
        span {
          font-weight: 400;
          font-size: 15px;
        }
      }
    }
  }
  .content_data {
    height: 400;
    overflow: auto;
    padding: 0 16px;
    border: 1px solid rgba(140, 140, 140, 0.35);
  }
}
