@import "assets/variables.scss";
@import "assets/mixin.scss";
.sideNav {
  background: $bg-side-nav;
  border-right: 1px solid $bg-side-nav;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  transition: all 0.5s ease 0s;
  width: 250px;

  @include customScrollBar();

  :global {
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border: none;
    }

    .anticon {
      width: 12px;
    }

    span.material-symbols-outlined {
      cursor: pointer;
      color: $white-color;
    }
  }

  .wrapLogo {
    width: 100%;
    font-size: 20px;
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 150px;
      height: 55px;
    }
  }
}

.sideNavCollapsed {
  width: 80px;
  transition: all 0.5s ease 0s;
}
