@import "assets/variables.scss";
@import "assets/mixin.scss";
.slide_item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mq(md, 'max') {
    display: block;
  }
  .item__left {
    h1 {
      font-size: 67px;
      font-weight: 700;
      margin-bottom: 14px;
      text-transform: uppercase;

      @include mq(md, 'max') {
        font-size: 18px;
      }
    }
    p {
      margin: 0;
      font-size: 21px;
      line-height: 1.34;
      max-width: 410px;
      margin-bottom: 30px;
      @include mq(md, 'max') {
        font-size: 14px;
      }
    }

    button {
      border: 2px solid #7a7a7a;
      box-shadow: none;
      border-radius: 50px;
      color: #7a7a7a;
      display: inline-block;
      font-size: 14px;
      height: 50px;
      letter-spacing: 7px;
      line-height: 37px;
      padding: 5px 25px 5px 37px;
      text-align: center;
      text-transform: uppercase;

      @include mq(md, 'max') {
        font-size: 14px;
      }

      &:hover {
        background-color: #ff6565;
        border-color: #ff6565;
        color: #ffffff;
      }
    }
  }
  .item__right {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

:global {
  .swiper {
    width: 100%;
    height: 100%;
  }
}
