@import "./variables.scss";
/*
 * @mixin mq
 * @description: media screen query min or max of width
 */

@function inexplicit($list, $keyable) {
  @if (map-has-key($list, $keyable)) {
    @return map-get($list, $keyable);
  }
  @return $keyable;
}

@mixin mq($breakpoint, $media: "min") {
  @if $media == "min" {
    $getBr: inexplicit($breakpointsUp, $breakpoint);
    @media screen and (min-width: $getBr) {
      @content;
    }
  }
  @if $media == "max" {
    $getBr: inexplicit($breakpointsDown, $breakpoint);
    @media screen and (max-width: $getBr) {
      @content;
    }
  }
}

@mixin customScrollBar(
  $widthScrollBar: 5px,
  $borderRadius: 10px,
  $backgroundScrollbar: transparent,
  $heightScrollBar: 5px
) {
  &::-webkit-scrollbar {
    width: $widthScrollBar;
    background-color: $backgroundScrollbar;
    height: $heightScrollBar;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-2-color;
    border-radius: $borderRadius;
  }
}
